.table-header{
  &_active{
    background-color: #0f7864;
  }
  &_btns-span{
    margin-left: 30%;
  }
  .active{
    color: #b0a160;
  }
  .fa{
    font-size: 1.2rem;
    &:hover{
      color: #b0a160;
      cursor: pointer;
    }
  }
}
