.page-link{
  background-color: #ecf0f1;
  color: #000;
}
.footer{
  width: 70vw;
  display: flex;
  justify-content: space-between;
  .page-link{
    background-color: #fff;
    transition: background-color .2s ease-in;
    &:hover{
      transition: background-color .2s ease-in;
      background-color: #0f7864;
      color: #fff;
    }
  }
}
